@charset "utf-8";
html {
	font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  margin: 0 auto; 
	max-width: 1200px;
	background-color: aquamarine;
}

h1{
	color: deeppink;
	font-size:80px;
}


h1, h2, h3, h4, h5, h6 {
	margin:0;
	font-weight:500;
}

.nav a{
	font-size: 30px;

}

.main img{

	margin: auto;
	display: block;
}


